
body {
  text-align: center;
  background-color: #D6D6CE;
  color: #800000;
  font-family: 'Arial', serif;
  padding-bottom: 200px;
}

.navbar { background-color: #800000; padding-left: 20px;}
.nav-link, .navbar-brand { color: #fff; }
.navbar-brand {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.container {
  width: 75%;
}